body {font-family: garamond, "Palatino", times, serif; font-size: 14px;}

.left {float: left;}
.right {float: right;}

.contact h1, .contact p.center {text-align:center; clear:both;}
.contact a, .action-strip a {text-decoration: none; color: #000;}
.door-phone {border-top: 1px solid #000;}

.education ul, .experience ul {clear:both;}

h1 { font-size: 2em;}
h2 { font-size: 1.8em; border-bottom: 1px solid #000;}
h3 { font-size: 1.4em;  text-transform: uppercase;}
.experience .title, .education .summary {font-weight: bold;}
.date_duration {font-style: italic;}

.vcard {margin: 1em 0 1em 0;}

ul li {list-style-type: disc; list-style-position: inside; padding-left: 1em;}
.tags ul li {list-style-type:none;}
.tags {margin: 2em 0 0 0;}

.footer {display: none; visibility: hidden;}

.action-strip {border-bottom: 1px solid #999; background-color: #DAECFF; padding: .8em;}
.action-strip ul li {display:inline;}
.action-strip ul li img {vertical-align: middle;}
